table td {
  xborder-bottom: 1px solid lightgray;
}

table td a {
  text-decoration: none;
}

table.sec_nodes tr:hover {
  background-color: lightblue;
}

.sec_props {
  background-color: lightgray;
}
