:root {
  --font: system-ui;
  --size: 12px;
  --border: 1px;
  --radius: 0;
  --margin-base: 6px;
  --margin: var(--margin-base) 0px 0px 0px; /*top right bottom left */
  --padding-base: 3px;
  --padding: var(--padding-base) 10px var(--padding-base) 10px;

  --color: unset;
  --box-color: lightgray;
  --border-color: black;
  --button-color: unset;
  --button-text: black;
  --link-color: LinkText;
  --primary-color: black;
  --input-color: white;
  --input-text: black;
  --selection-color: Highlight;
}

@media (pointer:coarse) {
  :root {
    --size: 20px;
    --padding-base: 4px;
    --padding: var(--padding-base) 8px var(--padding-base) 8px;
  }
}

.ui_group .ui_paths li {
  display: inline-block;
}

.ui_group .ui_paths li+li:before {
  color: var(--box-color);
  content: "/\00a0";
}

.ui_group .ui_paths li a {
  text-decoration: none;
  color: var(--link-color);
}

.ui_group .ui_paths {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  list-style: none;
  margin: 0;
  padding-inline-start: 0 !important;
  display: inline-block;
}

.ui_group.margins .ui_paths {
  margin: var(--margin);
}

span.ui_button {
  display: inline-block;
}

.ui_group a.ui_button,
a.ui_button {
  display: inline-block;
  cursor: default;
  color: var(--button-text);
}

div.ui_button {
  width: fit-content;
}

.ui_button-group {
  font-size: 0; /* hack to deal with the whitespace */
}

.ui_button-group .ui_button:first-child {
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.ui_button-group .ui_button.disabled {
  border: var(--border) solid var(--border-color);
}

.ui_button-group .ui_button {
  border-radius: 0;
}

.ui_button-group .ui_button + .ui_button {
  border-left: 0;
}

.ui_button-group .ui_button:last-child {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.ui_group {
  cursor: default;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  box-sizing: border-box;
}

.margins .ui_group {
  margin: var(--margin);
}

html:has(body.ui_dialog) {
  background-color: gray;
}

body.ui_dialog.ui_group,
body.ui_dialog {
  margin: 20px;
}

body.ui_dialog.ui_group.margins,
body.ui_dialog.margins {
  padding-top: 0;
}

.ui_dialog {
  background-color: white;
  border: var(--border) solid var(--box-color);
  border-radius: calc(var(--radius) * 2);
  padding: 20px;
}

body.ui_group {
  margin: 0;
}

.ui_group p {
  font-size: var(--size);
  margin: 0;
}

.ui_group.margins p {
  margin-top: var(--margin-base);
  margin-bottom: 0;
}

.ui_group h1 {
  font-size: x-large;
  margin: 0;
}

.ui_group.margins h1 {
  margin: calc(var(--margin-base)*2) 0px calc(var(--margin-base)*2) 0px;
}
 
.ui_group h2 {
  font-size: large;
  margin: 0;
}

.ui_group.margins h2 {
  margin: var(--margin-base) 0px var(--margin-base) 0px;
}

.ui_group h3 {
  font-size: var(--size);
  margin: 0;
}

.ui_group.margins h3 {
  margin: var(--margin);
}

.ui_group h4 {
  font-size: small;
  margin: 0;
}

.ui_group.margins h4 {
  margin: var(--margin);
}

.ui_group ul,
.ui_group ol {
  list-style-type: square;
  margin: 0;
  padding-inline-start: 16px;
}

.ui_group.margins ul,
.ui_group.margins ol {
  margin: var(--margin);
}

.ui_group li::marker {
  color: var(--box-color);
  font-size: 12px;
}

.ui_group li:has(ul > li) {
  list-style-type: disclosure-open;
}

.ui_group li:has(ul > li)::marker {
  color: var(--box-color) !important;
  font-size: 10px;
}

.ui_group li > ul ,
.ui_group li > ol {
  margin: 0;
  padding-inline-start: 24px;
}

.ui_group.margins li > ul ,
.ui_group.margins li > ol {
  margin: 0;
}

.ui_group hr {
  margin: 0;
  border: 1px solid var(--box-color);
  border-bottom-width: 0;
}

.ui_group.margins hr {
  margin: var(--margin);
}

.ui_group .ui_sep {
  display: inline-block;
  color: var(--box-color);
}

.ui_group.margins .ui_sep {
  margin: var(--margin);
}

.ui_text {
  font-family: var(--font);
  font-size: var(--size);
}

.ui_label {
  font-family: var(--font);
  font-size: var(--size);
  padding-top: var(--padding-base);
  padding-bottom: var(--padding-base);
}

.ui_group.margins .ui_label {
  margin: var(--margin);
}

.ui_label .ui_button {
  margin: 0;
}

.ui_label a,
.ui_group a {
  text-decoration: none;
  color: var(--link-color);
}

.ui_label.info {
  font-size: smaller;
  background-color: lightgray;
  color: gray;
}

.ui_button {
  user-select: none;
  -webkit-user-select: none;
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--button-text);
  text-align: center;
  font-family: var(--font);
  font-size: var(--size);
  font-weight: normal;
  min-width: calc(var(--size) * 1.5);
}

.ui_tag {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  cursor: pointer;
  padding: var(--padding);
  border-top-right-radius: 6px;
  background-color: lightgray;
  font-family: var(--font);
  font-size: var(--size);
  border: 1px solid lightgray;
}

.ui_group.margins .ui_tag,
.ui_group.margins .ui_button {
  margin: var(--margin);
}

.ui_tag .ui_button {
  padding-right: 0;
  background-color: lightgray;
  color: gray;
  transform: translateX(6px);
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  font-weight: bold;
}

.ui_tag a {
  color: inherit;
  text-decoration: none;
}

.ui_button.default {
  border-color: var(--primary-color);
}

.ui_button.disabled {
  border-color: lightgray;
  color: gray;
}

.ui_button.borderless {
  background-color: initial;
  font-weight: bold;
}

.ui_button.inline,
.ui_group.margins .ui_button.inline {
  background-color: initial;
  margin: 0;
  border: 0;
  font-weight: bold;
}

.ui_button.inline:last-child,
.ui_group.margins .ui_button.inline:last-child {
  padding-right: 0;
}

.full-width {
  width: 100%;
}

.pull-right {
  float: inline-end;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.underlined {
  border-bottom: 1px solid black;
  margin-bottom: calc(var(--margin-base) * 2) !important;
}

.box {
  border-radius: var(--radius);
  border: 1px solid var(--box-color);
}

.padding {
  padding: 12px 12px 12px 12px; /*top right bottom left */
}

body.margins.padding {
  margin: 0;
  padding: 6px 12px 12px 12px; /*top right bottom left */
}

.margins .padding,
.margins.padding {
  padding: 6px 12px 12px 12px; /*top right bottom left */
}

.marginless > * {
  margin: 0 !important;
}

.borderless {
  border: 0 !important;
}

.ui_group form {
  display: inline-block;
}

.ui_group textarea {
  font-family: var(--font);
  font-size: var(--size);
  background-color: var(--input-color);
  border: 1px dotted var(--border-color);
  border-radius: 0;
  font-size: inherit;
  margin: 0;
  vertical-align: bottom;
  box-sizing: border-box;
}

.ui_group input {
  font-family: var(--font);
  font-size: var(--size);
  padding: var(--padding-base) var(--padding-base) var(--padding-base) var(--padding-base); 
  margin-right: var(--margin-base);
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.ui_group input:focus {
  outline-color: var(--selection-color);
  outline-width: 2px;
  outline-style: solid;
}

.ui_group.margins textarea,
.ui_group.margins button,
.ui_group.margins select {
  margin: var(--margin);
}

.ui_group input[type=checkbox] {
}

.ui_group input[type=radio] {
  xtransform: translateY(2px);
}

.ui_group input[type=range] {
  appearance: none;
  background-color: var(--border-color);
  height: 2px;
  padding: 1px 0px 1px 0px;
  transform: translateY(-3px);
}

.ui_group input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--button-color);
  border: var(--border) solid var(--border-color);
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

.ui_group.margins input[type=file],
.ui_group.margins input[type=submit],
.ui_group.margins input[type=text],
.ui_group.margins input[type=number],
.ui_group.margins input[type=date],
.ui_group.margins input[type=time],
.ui_group.margins input[type=week],
.ui_group.margins input[type=datetime-local] {
  margin: var(--margin);
}

.ui_group input[type=text],
.ui_group input[type=number],
.ui_group input[type=date],
.ui_group input[type=time],
.ui_group input[type=week],
.ui_group input[type=datetime-local] {
  margin: 0;
  border: 0;
  border-bottom: dotted 1px var(--border-color);
  background-color: var(--input-color);
  color: var(--input-text);
}

.ui_group input[type=file] {
  color: gray;
  border-bottom: dotted 1px var(--border-color);
  font-family: inherit;
  font-size: inherit;
  padding: var(--padding);
  padding-left: 0;
  margin: 0;
  margin-right: var(--margin-base);
  max-width: 110px;
}

::-webkit-file-upload-button {
  width: 1px;
  color: rgba(0,0,0,0);
  border: 0;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.ui_group button,
.ui_group input[type=submit] {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  font-weight: normal;
  color: var(--button-text);
  background-color: inherit;
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  margin: 0;
  border-radius: var(--radius);
  background-color: var(--button-color);
  min-width: calc(var(--size) * 1.5);
  text-align: center;
}

.ui_group select {
  font-family: var(--font);
  font-size: var(--size);
  border: 0;
  border-radius: 0;
  appearance: none;
  border-bottom: var(--border) solid var(--border-color);
  padding: var(--padding);
  color: inherit;
  background-color: inherit;
  margin: 0;
  margin-right: var(--margin-base);
}

.ui_table {
  font-size: inherit;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.ui_group.margins .ui_table {
  margin-bottom: var(--margin);
}

.ui_table tr {
  border-bottom: 1px solid lightgray;
}

.ui_dragger-placeholder {
  background-color: var(--selection-color);
  border-radius: 3px;
}

.ui_dragger-ghost {
  background-color: black;
  color: white;
  opacity: 0.8;
}

.ui_dragger-canvas {
  position: relative;
  border: 1px solid black;
  height: 500px;
  overflow: scroll;
}

.ui_dragger-canvas .ui_dragger-item {
  position: absolute;
  margin: 0;
}

.ui_dragger-item.selected {
  opacity: 0.8;
}

.ui_dragger-container.over {
  outline: 2px solid var(--selection-color);
}

.ui_cropframe {
  cursor: move;
  background-color: black;
}

.ui_cropframe .ui_cropframe-handle {
  background-color: var(--selection-color);
  width: 40px;
  height: 40px;
  border-top-left-radius: 40px;
  cursor: nwse-resize;
}

div:has(> .ui_cropframe.selected) {
  overflow: unset;
}

.ui_cropframe.selected {
  outline: 2px solid var(--selection-color);
}

.ui_cropframe img {
  max-width: unset !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
