:root {
  --font: system-ui;
  --size: 12px;
  --border: 1px;
  --border-color: black;
  --button-color: white;
  --primary-color: black;
  --input-color: white;
  --selection-color: Highlight;
  --radius: 0px;
  --margin-base: 6px;
  --margin: var(--margin-base) 0px 0px 0px; /*top right bottom left */
  --padding: 2px 6px 2px 6px;
}

body {
  background-color: white;/*honeydew;*/
  color: black;
  font-size: 11px;
  cursor: default;
}

.ui_paths li {
  display: inline-block;
}

.ui_paths li+li:before {
  color: gray;
  content: "/\00a0";
}

.ui_paths li a {
  text-decoration: none;
}

.ui_paths {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  list-style: none;
  margin: var(--margin);
  padding-inline-start: 0 !important;
}

span.ui_button {
  display: inline-block;
}

a.ui_button {
  display: inline-block;
}

div.ui_button {
  width: fit-content;
}

.ui_button-group {
  font-size: 0; /* hack to deal with the whitespace */
}

.ui_button-group .ui_button:first-child {
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.ui_button-group .ui_button.disabled {
  border: var(--border) solid var(--border-color);
}

.ui_button-group .ui_button {
  border-radius: 0;
}

.ui_button-group .ui_button + .ui_button {
  border-left: 0;
}

.ui_button-group .ui_button:last-child {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.ui_group {
  font-family: var(--font);
  font-size: var(--size);
  margin: var(--margin);
}

.ui_group-box {
  border-radius: var(--radius);
  border: 1px solid lightgray;
  font-family: var(--font);
  margin: var(--margin);
  padding: 6px 12px 12px 12px; /*top right bottom left */
}

.ui_group > *:first-child {
  margin-top: 0px;
}

html:has(body.ui_dialog) {
  background-color: gray;
}

.ui_dialog {
  border: 8px solid var(--border-color);
  padding: 4px 8px 8px 8px;
}

body.ui_group {
  margin: 12px 12px 12px 12px;
}

.ui_group p {
  font-size: var(--size);
  margin: var(--margin);
}

.ui_group h1 {
  font-size: x-large;
  margin: var(--margin);
}

.ui_group h2 {
  font-size: large;
  margin: var(--margin);
}

.ui_group h3 {
  font-size: var(--size);
  margin: var(--margin);
}

.ui_group h4 {
  font-size: small;
  margin: var(--margin);
}

.ui_group ul,
.ui_group ol {
  margin: var(--margin);
  padding-inline-start: 16px;
}

.ui_group li > ul ,
.ui_group li > ol {
  margin: unset;
  padding-inline-start: 16px;
}

.ui_group hr {
  margin: var(--margin);
  border: 1px solid lightgray;
  border-bottom-width: 0;
}

.ui_sep {
  width: var(--margin-base);
  display: inline-block;
}

.ui_text {
  font-family: var(--font);
  font-size: var(--size);
}

.ui_label {
  font-family: var(--font);
  font-size: var(--size);
  margin: var(--margin);
}

.ui_label .ui_button {
  margin: 0;
}

.ui_label.info {
  font-size: smaller;
  background-color: lightgray;
  color: gray;
}

.ui_button {
  user-select: none;
  -webkit-user-select: none;
  margin: var(--margin);
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--button-color);
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: var(--font);
  font-size: var(--size);
  font-weight: normal;
  min-width: calc(var(--size) * 1.5);
}

.ui_tag {
  user-select: none;
  -webkit-user-select: none;
  margin: var(--margin);
  cursor: pointer;
  padding: var(--padding);
  border-top-right-radius: 6px;
  background-color: lightgray;
  font-family: var(--font);
  font-size: var(--size);
  border: 0;
}

.ui_tag .ui_button {
  padding-right: 0;
  background-color: revert;
}

.ui_button.default {
  border-color: var(--primary-color);
}

.ui_button.disabled {
  border-color: lightgray;
  color: gray;
}

.ui_button.borderless {
  background-color: initial;
}

.full-width {
  width: 100%;
}

.pull-right {
  float: inline-end;
}

.borderless {
  border: 0;
}

.invisible {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.underlined {
  border-bottom: 1px solid black;
  margin-bottom: calc(var(--margin-base) * 2) !important;
}

form {
  display: inline-block;
}

textarea {
  font-family: var(--font);
  font-size: var(--size);
  background-color: var(--input-color);
  border: 1px dotted gray;
  font-size: inherit;
  margin: var(--margin);
  vertical-align: bottom;
  box-sizing: border-box;
}

input {
  font-family: var(--font);
  font-size: var(--size);
  margin: var(--margin);
  padding: var(--padding);
  margin-right: var(--margin-base);
  box-sizing: border-box;
}

input[type=checkbox] {
  margin: revert;
}

input[type=radio] {
  xtransform: translateY(2px);
}

input[type=range] {
  appearance: none;
  background-color: var(--border-color);
  height: 2px;
  padding: 1px 0px 1px 0px;
  transform: translateY(-3px);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--button-color);
  border: var(--border) solid var(--border-color);
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

input[type=text],
input[type=number],
input[type=date],
input[type=time],
input[type=week],
input[type=datetime-local] {
  border: 0;
  border-bottom: dotted 1px gray;
  background-color: inherit;
  background-color: var(--input-color);
}

input[type=file] {
  color: gray;
  border-bottom: dotted 1px gray;
  font-family: inherit;
  font-size: inherit;
  padding: var(--padding);
  padding-left: 0;
  margin: var(--margin);
  margin-right: var(--margin-base);
  max-width: 110px;
}

::-webkit-file-upload-button {
  width: 1px;
  color: rgba(0,0,0,0);
  border: 0;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button,input[type=submit] {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  color: inherit;
  background-color: inherit;
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  margin: var(--margin);
  border-radius: var(--radius);
  background-color: var(--button-color);
  min-width: calc(var(--size) * 1.5);
  text-align: center;
}

select {
  font-family: var(--font);
  font-size: var(--size);
  border: 0;
  border-radius: 0;
  appearance: none;
  border-bottom: var(--border) solid var(--border-color);
  padding: var(--padding);
  color: inherit;
  background-color: inherit;
  margin: var(--margin);
  margin-right: var(--margin-base);
}

.ui_table {
  font-size: inherit;
  border-spacing: 0;
  margin-bottom: var(--margin);
  border-collapse: collapse;
  width: 100%;
}

.ui_table tr {
  border-bottom: 1px solid lightgray;
}

.ui_dragger-placeholder {
  background-color: var(--selection-color);
  border-radius: 3px;
}

.ui_dragger-ghost {
  background-color: black;
  color: white;
  opacity: 0.8;
}

.ui_dragger-canvas {
  position: relative;
  border: 1px solid black;
  height: 500px;
  overflow: scroll;
}

.ui_dragger-canvas .ui_dragger-item {
  position: absolute;
  margin: 0;
}

.ui_dragger-item.selected {
  opacity: 0.8;
}

.ui_dragger-container.over {
  outline: 2px solid var(--selection-color);
}

.ui_cropframe {
  cursor: move;
  background-color: black;
}

.ui_cropframe .ui_cropframe-handle {
  background-color: var(--selection-color);
  width: 40px;
  height: 40px;
  border-top-left-radius: 40px;
  cursor: nwse-resize;
}

div:has(> .ui_cropframe.selected) {
  overflow: unset;
}

.ui_cropframe.selected {
  outline: 2px solid var(--selection-color);
}

.ui_cropframe img {
  max-width: unset !important;
}

