:root {
  --font: system-ui;
  --size: 13px;
  --border: 1px;
  --border-color: black;
  --button-color: white;
  --primary-color: black;
  --input-color: white;
  --radius: 0px;
  --margin-base: 6px;
  --margin: var(--margin-base) 0px 0px 0px; /*top right bottom left */
  --padding: 2px 4px 2px 4px;
}

body {
  background-color: white;/*honeydew;*/
  color: black;
  font-size: 11px;
  cursor: default;
}

.ui_paths li {
  display: inline-block;
}

.ui_paths li+li:before {
  color: gray;
  content: "/\00a0";
}

.ui_paths li a {
  text-decoration: none;
}

.ui_paths {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  list-style: none;
  margin: var(--margin);
  padding-inline-start: 0;
}

span.ui_button {
  display: inline-block;
}

a.ui_button {
  display: inline-block;
}

div.ui_button {
  width: fit-content;
}

.ui_button-group {
  font-size: 0; /* hack to deal with the whitespace */
}

.ui_button-group .ui_button:first-child {
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.ui_button-group .ui_button.disabled {
  border: var(--border) solid var(--border-color);
}

.ui_button-group .ui_button {
  border-radius: 0;
}

.ui_button-group .ui_button + .ui_button {
  border-left: 0;
}

.ui_button-group .ui_button:last-child {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.ui_group {
  font-family: var(--font);
  margin: var(--margin);
}

.ui_group > *:first-child {
  margin-top: 0px;
}

html:has(body.ui_dialog) {
  background-color: gray;
}

.ui_dialog {
  border: 8px solid var(--border-color);
  padding: 8px 8px 8px 8px;
}

body.ui_group {
  font-family: var(--font);
  margin: 8px 8px 8px 8px;
}

.ui_group p {
  font-size: var(--size);
  margin: var(--margin);
}

.ui_group h1 {
  font-size: x-large;
  margin: var(--margin);
}

.ui_group h2 {
  font-size: large;
  margin: var(--margin);
}

.ui_group h3 {
  font-size: var(--size);
  margin: var(--margin);
}

.ui_group h4 {
  font-size: small;
  margin: var(--margin);
}

.ui_label {
  font-family: var(--font);
  font-size: var(--size);
  margin: var(--margin);
}

.ui_label .ui_button {
  margin: 0;
}

.ui_label.info {
  font-size: smaller;
  background-color: lightgray;
  color: gray;
}

.ui_button {
  user-select: none;
  -webkit-user-select: none;
  margin: var(--margin);
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--button-color);
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-family: var(--font);
  font-size: var(--size);
  min-width: calc(var(--size) * 1.5);
}

.ui_tag {
  user-select: none;
  -webkit-user-select: none;
  margin: var(--margin);
  cursor: pointer;
  padding: var(--padding);
  border-top-right-radius: 6px;
  background-color: lightgray;
  font-family: var(--font);
  font-size: var(--size);
}

.ui_tag .ui_button {
  border: 0;
  padding-right: 0;
  background-color: revert;
}

.ui_button.default {
  border-color: var(--primary-color);
}

.ui_button.disabled {
  border-color: lightgray;
  color: gray;
}

.full-width {
  width: 100%;
}

.pull-right {
  float: inline-end;
}

.underlined {
  border-bottom: 1px solid black;
  margin-bottom: calc(var(--margin-base) * 2) !important;
}

form {
  display: inline-block;
}

textarea {
  font-family: var(--font);
  font-size: var(--size);
  background-color: var(--input-color);
  border: 1px dotted gray;
  font-size: inherit;
  margin: var(--margin);
  vertical-align: bottom;
  box-sizing: border-box;
}

input {
  font-family: var(--font);
  font-size: var(--size);
  margin: var(--margin);
  padding: var(--padding);
  margin-right: var(--margin-base);
  box-sizing: border-box;
}

input[type=checkbox] {
  xtransform: translateY(2px);
}

input[type=radio] {
  xtransform: translateY(2px);
}

input[type=range] {
  appearance: none;
  background-color: var(--border-color);
  height: 2px;
  padding: 1px 0px 1px 0px;
  transform: translateY(-3px);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background-color: var(--button-color);
  border: var(--border) solid var(--border-color);
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

input[type=text],
input[type=number],
input[type=date],
input[type=time],
input[type=week],
input[type=datetime-local] {
  border: 0;
  border-bottom: dotted 1px gray;
  background-color: inherit;
  background-color: var(--input-color);
}

input[type=file] {
  color: gray;
  border-bottom: dotted 1px gray;
  font-family: inherit;
  font-size: inherit;
  padding: var(--padding);
  padding-left: 0;
  margin: var(--margin);
  margin-right: var(--margin-base);
  max-width: 110px;
}

::-webkit-file-upload-button {
  width: 1px;
  color: rgba(0,0,0,0);
  border: 0;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button,input[type=submit] {
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font);
  font-size: var(--size);
  color: inherit;
  background-color: inherit;
  border: var(--border) solid var(--border-color);
  padding: var(--padding);
  margin: var(--margin);
  border-radius: var(--radius);
  background-color: var(--button-color);
  min-width: calc(var(--size) * 1.5);
  text-align: center;
}

select {
  font-family: var(--font);
  font-size: var(--size);
  border: 0;
  border-radius: 0;
  appearance: none;
  border-bottom: dotted 1px gray;
  padding: var(--padding);
  color: inherit;
  background-color: inherit;
  margin: var(--margin);
  margin-right: var(--margin-base);
}

table {
  font-size: inherit;
  border-spacing: 0;
  margin-bottom: var(--margin);
}
