html,body {
  height: 100%;
  margin: 0px;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}
.head {
  margin: 4px;
  flex: 0 1 auto;
}
form {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}
textarea:focus {
  outline: none !important;
}

textarea {
  border-radius: 0;
  border: 1px solid black;
  resize: none;
  box-sizing: border-box;
  padding-left: 8px;
  display: block;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 11px;
}

#pdf_view, #image_view {
  border: 0;
  flex: 1 1 auto;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

.head .buttons {
  display: inline-block;
  float: right;
}
.head .paths {
  margin: 0;
  display: inline-block;
}

body.small .head {
  display: none;
}
