.ui_dragger-canvas {
  position: relative;
  border: 0px solid gray;
  height: 500px;
  overflow: clip;
}

.ui_dragger-canvas .ui_dragger-item {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  border: 0px solid black;
  outline: 1px solid black;
  background-color: lightgray;
}

.ui_dragger-canvas .ui_dragger-item .sec_content {
  height: 100%;
  width: 100%;
}

.ui_dragger-canvas .ui_dragger-item.selected {
  outline: 1px solid red;
}


